@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --cor-logo: #ee7f7f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ffede2;
}

header img {
  width: 80vw;
}

form {
  display: flex;
  flex-direction: column;
}

form .inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-top: 1rem;
  width: 90vw;
}

.inputGroup input {
  padding: 0.7rem;
  border: none;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.inputGroup select,
input[type="date"] {
  padding: 0.7rem;
  border: none;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  background-color: #fff;
  width: 90vw;
}

.inputGroup label {
  margin-bottom: 0.3rem;
  margin-left: 0.3rem;
}

::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  cursor: pointer;
}

.span-required {
  display: none;
  margin: 2px 0 0 2px;
  font-size: 12px;
  color: #db5a5a;
}

.btn {
  margin-top: 2rem;
  background: var(--cor-logo);
  border-radius: 2rem;
  color: black;
  margin-bottom: 1rem;
  padding: 1.2rem 1.6rem;
}

.btnRecSenha {
  width: 40vw;
}

/* tela login  */

.error {
  color: #db5a5a;
  font-size: 0.9rem;
  margin-left: 1rem;
  display: none;
}

#groupRecSenha {
  display: flex;
  justify-content: space-around;
}

#groupRecSenha button {
  border: none;
  background: transparent;
}

/* Tela recuperar senha */

.formRecSenha {
  display: flex;
  flex-direction: column;
}

/* tela de boas vindas  */

#telaBoasVindas {
  display: flex;
  flex-direction: column-reverse;
}

#imgBoasVindas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.3rem;
}

#imgBoasVindas img {
  height: 45vh;
}

#containerBemVindo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  width: 100vw;
  background-color: var(--cor-logo);
  border-radius: 2rem 2rem 0rem 0rem ;
}

#containerBemVindo h2, p {
  margin: 1rem;
  color: whitesmoke;
  text-align: center;
}

#containerBemVindo p {
  font-size: 1.1rem;
}

#btnBoasVindas {
  margin-top: 2rem;
  border: none;
  background: whitesmoke;
  border-radius: 2rem;
  color: #e65858;
  margin-bottom: 1rem;
  padding: 1.2rem 1.6rem;
  font-size: 0.9rem;
}