@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FFEDE2;
    
}

header img {
    width: 80vw;
}

form {
    display: flex;
    flex-direction: column;
}

form .inputGroup {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    margin-top: 1rem;
    width: 90vw;
}

.inputGroup input, select {
    padding: 0.7rem;
    border: none;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

.inputGroup label {
   margin-bottom: 0.3rem;
   margin-left: 0.3rem;
}

.span-required {
    margin: 3px 0 0 1px;
    color: red;
    font-size: 12px;
    display: block;
}
    
#btnCadastro, #btnCadInfo, #btnLogin, #btnRecuperarSenha, #btnTelaBemVindo{
    margin-top: 2rem;
    background: #EE7F7FE2;
    border-radius: 2rem;
    color: black;
    margin-bottom: 1rem;
    padding: 1.2rem 1.6rem;
}

.btnRecSenha {
    width: 40vw;
}

/* tela login  */

.error {
    font-size: 0.9rem;
    margin-left: 1rem;
    display: none;
}

#group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#group button{
    border: none;
    background-color: transparent;
    margin: 0.2rem 0rem;
}

/* Tela recuperar senha */

.formRecSenha {
    display: flex;
    flex-direction: column;
}

/* tela de boas vindas  */

.telaBoasvindas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#msgBemVinda {
    font-size: 1.5rem;
}

.telaBoasvindas p {
    padding: 1rem;
}

#imgCoruja {
    width: 60vw;
    margin: 2rem 0rem;
    border-radius: 2rem;
}