@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --cor-logo: #ee7f7f;
  --cor-fundo: #ffede2;
  --cor-erros: #db5a5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--cor-fundo);
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 70vw;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 90vw;
}

.inputGroup label {
  margin: 0.3rem;
  margin-left: 0.3rem;
}

.inputGroup input[type="date"] {
  background-color: #ffffff;
  width: 90vw;
}

input, select {
  background-color: #ffffff;
  appearance: none;
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  border: none;
  border-radius: 1.5rem;
}

::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  cursor: pointer;
}

.span-required {
  display: none;
  margin: 2px 0 0 2px;
  font-size: 12px;
  color: var(--cor-erros);
}

.btn {
  margin-top: 2rem;
  background: var(--cor-logo);
  border-radius: 2rem;
  color: black;
  margin-bottom: 1rem;
  padding: 1.2rem 1.6rem;
}

.btnRecSenha {
  width: 40vw;
}

/* tela login  */

.error {
  color: var(--cor-erros);
  font-size: 0.9rem;
  margin-left: 1rem;
  display: none;
}

#groupRecSenha {
  display: flex;
  justify-content: space-around;
}

#groupRecSenha button {
  border: none;
  background: transparent;
}

/* Tela recuperar senha */

.formRecSenha {
  display: flex;
  flex-direction: column;
}

/* tela de boas vindas  */

#telaBoasVindas {
  display: flex;
  flex-direction: column-reverse;
}

#imgBoasVindas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.3rem;
}

#imgBoasVindas img {
  height: 45vh;
}

#containerBemVindo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  width: 100vw;
  background-color: var(--cor-logo);
  border-radius: 2rem 2rem 0rem 0rem ;
}

#containerBemVindo h2, p {
  margin: 1rem;
  color: whitesmoke;
  text-align: center;
}

#containerBemVindo p {
  font-size: 1.1rem;
}

#btnBoasVindas {
  margin-top: 2rem;
  border: none;
  background: whitesmoke;
  border-radius: 2rem;
  color: #e65858;
  margin-bottom: 1rem;
  padding: 1.2rem 1.6rem;
  font-size: 0.9rem;
}

/* Footer  */

.pageFooter {
  position: absolute;
  bottom: 0;
  left: 0;
}

.boxFooter {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #ffede2;
  padding: 1rem 0rem;
}

.boxFooter img {
  width: 55%;
}

.btnFooter {
  background: transparent;
  border: none; 
}

/* tela perfil usuário  */

.pagePerfil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagePerfil header {
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
}

.pagePerfil #seta {
  width: 7%;
}

.personal-image {
  text-align: center;
}
.personal-image input[type="file"] {
  display: none;
}

.personal-figure {
  position: relative;
  width: 100px;
  height: 100px;
}

.personal-avatar {
  cursor: pointer;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  transition: all ease-in-out .3s;
}

.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
  margin-top: 32.5px;
  width: 50px;
  height: 50px;
}

.fotoPerfil {
  display: flex;
  justify-content: center;
  width: 100vw;
  border-bottom: 0.2rem solid black;
}
